[submodule "Hi3Helper.Plugin.Core"]
	path = Hi3Helper.Plugin.Core
	url = https://github.com/CollapseLauncher/Hi3Helper.Plugin.Core.git
[submodule "SharpHDiffPatch.Core"]
	path = SharpHDiffPatch.Core
	url = https://github.com/Vohrt/SharpHDiffPatch.Core.git
